NODE_ENV=development
HOST=0.0.0.0
PORT=3000

DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
REFRESH_TOKEN_SECRET=

ANTHROPIC_API_KEY=
OPENAI_API_KEY=
AI_TEXT_MODEL=claude-haiku-4-5-20251001
AI_VISION_MODEL=gpt-4o-mini

FAT_SECRET_CLIENT_ID=
FAT_SECRET_CLIENT_SECRET=

APP_BUNDLE_ID=
APP_APPLE_ID=
APPSTORE_ISSUER_ID=
APPSTORE_KEY_ID=
